<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>simple app</title>
	</head>
	<body>
		<!--<input ng-model="person.name" type="text" placeholder="你的姓名">
		<h1>hello {{person.name}}</h1>-->
		<div ng-app="ngApp" ng-controller="MyController">
			<h1>time:{{clock}}</h1>
		</div>
		<div ng-app="myApp">
			<div ng-repeat="employee in employees">{{}}</div>
		</div>
		<!--<script src="lib/angular/1.3.9/angular.js"></script>-->
		<script data-main="./js/plugins/app" src="./lib/requerjs/requirejs.js"></script>
		<script type="text/javascript">
			require.config({
		    //配置angular的路径
		    paths:{
		        "angular":"../../lib/angular/1.3.9/angular", 
		        "angular-route":"../../lib/angular/1.3.9/angular-route.min",
		        "jquery":"../../lib/jquery/jquery/1.11.1/jquery"
		    }
		});
		</script>
		<!--<script src="lib/sea/sea.js"></script>
		<script type="text/javascript" >
			seajs.config({
                base: './lib/'
                , alias: {
                    'jquery': 'jquery/jquery/1.11.1/jquery'                    
                }
            });
        	seajs.use("./js/plugins/angulaTest");
		</script>
		<script type="text/javascript" src="./js/plugins/angularModel.js"></script>-->
	</body>
</html>